<div class="farmily_devise">
  <div class="my-container">
    <main id="app">
      <header class="hid">
      </header>
      <div class="form-wrapper">
        <div class="form-logo">
          <img class="clova" src="/assets/clova_logo.png" alt="">
        </div>
        <h1>アカウントを編集
          <%# <%= resource_name.to_s.humanize %>
        </h1>
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>
        <%# <div class="field form-item">
          <p>何時から閲覧可能か(0~23)</p>
          <%= f.text_field :readtime, placeholder:"何時から閲覧可能か入力",required: true%>
        <%# </div> %>
        <%Time.current.to_s(:time_clock) %>
        <% time = Time.current.to_s(:time_clock) %>
        <% isReadTime = 'readTime'%>
        <% now = time.to_i%>

        <% if  current_user.readtime <=  current_user.readlimit %>
        <% if current_user.readtime <= now  &&  now <=current_user.readlimit %>
        <% isReadTimeNow= true %>
        <% else %>
        <% isReadTimeNow= false %>
        <% end %>
        <% else %>
        <%# readtime>readlimit %>
        <% if current_user.readtime <= now  ||  now<=   current_user.readlimit %>
        <% isReadTimeNow= true %>
        <% else %>
        <% isReadTimeNow= false %>
        <% end %>
        <% end %>



        <% if !isReadTimeNow %>
        <div class="field form-item">
          <%# <% <div id="readtime" class="form-group"> %>

          <div id="readtime">
            <%= f.label :readtime, '記録可能時間' %>

            <div class="readtime">
              <select required="required" name="user[readlimit]" id="user_readlimit" class="form-control"
                v-model="selectedEnd">
                <option value="">選択してください</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
                <option value="11">11</option>
                <option selected="selected" value="12">12</option>
                <option value="13">13</option>
                <option value="14">14</option>
                <option value="15">15</option>
                <option value="16">16</option>
                <option value="17">17</option>
                <option value="18">18</option>
                <option value="19">19</option>
                <option value="20">20</option>
                <option value="21">21</option>
                <option value="22">22</option>
                <option value="23">23</option>
              </select>
              <span>〜</span>

              <select required="required" name="user[readtime]" id="user_readtime" class="form-control"
                v-model="selected">

                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
                <option value="11">11</option>
                <option value="12">12</option>
                <option value="13">13</option>
                <option value="14">14</option>
                <option value="15">15</option>
                <option value="16">16</option>
                <option value="17">17</option>
                <option value="18">18</option>
                <option value="19">19</option>
                <option value="20">20</option>
                <option selected="selected" value="21">21</option>
                <option value="22">22</option>
                <option value="23">23</option>
              </select>
            </div>
            <%= f.label :readtime, '閲覧可能時間' %>

            <div class="readtime">
              <select required="required" name="user[readtime]" id="user_readtime" class="form-control"
                v-model="selected">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
                <option value="11">11</option>
                <option value="12">12</option>
                <option value="13">13</option>
                <option value="14">14</option>
                <option value="15">15</option>
                <option value="16">16</option>
                <option value="17">17</option>
                <option value="18">18</option>
                <option value="19">19</option>
                <option value="20">20</option>
                <option value="21">21</option>
                <option value="22">22</option>
                <option value="23">23</option>
              </select> <span>〜</span>
              <select required="required" name="user[readlimit]" id="user_readlimit" class="form-control"
                v-model="selectedEnd">
                <option value="">選択してください</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
                <option value="11">11</option>
                <option value="12">12</option>
                <option value="13">13</option>
                <option value="14">14</option>
                <option value="15">15</option>
                <option value="16">16</option>
                <option value="17">17</option>
                <option value="18">18</option>
                <option value="19">19</option>
                <option value="20">20</option>
                <option value="21">21</option>
                <option value="22">22</option>
                <option value="23">23</option>
              </select>
            </div>


          </div>
        </div>




        <% else %>
        <%= f.label :readtime, '記録時間と閲覧時間の設定は' %>
        <br>
        <%= f.label :readtime, '閲覧可能時間にのみ設定できます' %>
        <br>
        <br>
        <% end %>

        <div class="field form-item">
          <div class="form-group selectbox">
            <%# <%= f.label :is_follow_approval, 'フォローの承認' %>
            <%# <%= f.select :is_follow_approval, {'する': 0, 'しない': 1}, { include_blank: '選択してください'}, { class: 'form-control' , required: true } %>

            <br>
            <%= f.label :is_post_time_release, '投稿時間の一般公開' %>

            <%= f.select :is_post_time_release, {'する': 0, 'しない': 1},{ include_blank: '選択してください'}, { class: 'form-control' , required: true } %>
            <br>
            <%= f.label :is_random_exchange_diary, 'ランダム交換日記を匿名に' %>
            <%= f.select :is_random_exchange_diary, {'する': 0, 'しない': 1} ,{ include_blank: '選択してください'}, { class: 'form-control' , required: true } %>

          </div>
        </div>




        <div class="field form-item">
          <p>1日に可能なコメント数</p>
          <%= f.text_field :comments_count_limit %>
        </div>


        <div class="field form-item">
          <p>ユーザーネーム</p>
          <%= f.number_field :username %>
        </div>

        <div class="field form-item">
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
        </div>

        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
        <% end %>

        <div class="field form-item">
          <%= f.label :password %> <i>(変更しない場合はそのまま)</i><br />
          <%= f.password_field :password, autocomplete: "new-password" %>
          <% if @minimum_password_length %>
          <br />
          <em><%= @minimum_password_length %> 文字以上</em>
          <% end %>
        </div>

        <div class="field form-item">
          <%= f.label :password_confirmation %><br />
          <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
        </div>

        <div class="field form-item">
          <span class="require">必須!</span><%= f.label :current_password %> <br />
          <%= f.password_field :current_password, autocomplete: "current-password" %>
        </div>

        <div class="field">
          <p>アイコン画像</p>
          <%= f.file_field :image %>
        </div>


        <div class="actions button-panel">
          <%= f.submit "編集",class:"button" %>
        </div>
        <% end %>

        <h3>アカウントを削除</h3>
        <div class="actions button-panel delete_button">
          <%= button_to "削除", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete ,class:"button"%>
        </div>
        <%= link_to "Back", :back %>
      </div>
    </main>
    <%# <footer id="footer">
      <ul>
        <li>
          <a href="">
            <p>timoryへようこそ</p>
          </a>
        </li>
      </ul>
    </footer> %>
  </div>
</div>

<style>
  span.require {
    display: inline-block;
    background-color: #594A31;
    padding: 1px 5px;
    margin-right: 3px;
    margin-bottom: 3px;
    border-radius: 5px;
    color: white;
    font-size: 12px;

  }
</style>
<script>
  var app = new Vue({
    el: '#readtime',
    data: {

      selected: '17',
      selectedEnd: '8'
    }
  })
</script>
