<div class="farmily">
  <div class="my-container">
    <main id="app">
      <header class="hid">
      </header>

      <div class="form-wrapper">
        <div class="form-logo">
          <img class="clova" src="/assets/clova_logo.png" alt="">
        </div>
        <h1>アカウントを作成</h1>


<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

    <!-- ユーザー名を追加 -->
  <div class="field form-item">
    <%= f.label :username %><br />
    <%= f.text_field :username, placeholder:"ユーザーネームを入力",required: true%>
  </div>

  <div class="field form-item">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder:"メールアドレスを入力",required: true %>
  </div>

  <div class="field form-item">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password" , placeholder:"パスワードを入力",required: true%>
  </div>

  <div class="field form-item">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder:"確認用パスワードを入力",required: true %>
  </div>

  <div class="field">
    <%= f.label :image %><br/>
    <%= f.file_field :image %>
  </div>

  <div class="actions button-panel">
    <%= f.submit "Sign up" ,class:"button"%>
  </div>
<% end %>


        <div class="form-footer">
          <p>アカウントがある場合はこちら</p>
          <%# <p><a href="javascript:document.jump.submit()">新規登録</a></p> %>
          <p><%= render "devise/shared/links" %></p>
        </div>
      </div>

    </main>
    <footer id="footer">
      <ul>
        <li>
          <a href="">
            <p>far-milyへようこそ</p>
          </a>
        </li>
      </ul>
    </footer>
  </div>
</div>














<%= render "devise/shared/links" %>
