<%# 自分　じぶん %>
<div id="myself">
    <div class="diary">
        <img src="/assets/clock_brown.png" class="session_icon" alt="">
    </div> <% flag = true%>
    <% @myselfs.reverse_each do |post| %>
    <div class="twiit">
        <div class="twitter">
            <div class="user">
                <div class="datetime">
                    <p><%= post.created_at.to_s(:datetime_jp_date) %></p>
                    <p>　</p>
                    <p><%= post.created_at.to_s(:datetime_jp_clock) %></p>
                </div>
                <div class="isflex">
                    <% if post.image?%>

                    <img src=<%= post.image.url %> class="post_image">
                    <% end %>

                    <a class="comment" href="/posts/<%= post.id %>"><%= post.content %></a>
                </div>
            </div>

        </div>
    </div>
    <% end %>



</div>
