 <% if @isReadTimeNow %>
 <h2>今は記録時間ではありません</h2>
 <% else %>

 <div id="myself">
     <div class="diary">
         <div class="session_header">
             <img src="/assets/clock_brown.png" class="session_icon" alt="">
             <h2>履歴</h2>
         </div>
     </div>
     <% flag = true%>
     <% @myselfs.reverse_each do |post| %>
     <div class="twiit">
         <div class="twitter">
             <div style="display:flex">
                 <div class="user">
                     <div class="datetime">
                         <%= link_to image_tag("/assets/triangle.png", class:"edit_icon"), edit_post_path(post) %>
                         <p><%= post.created_at.to_s(:datetime_jp_date) %></p>
                         <p>　</p>
                         <p><%= post.created_at.to_s(:datetime_jp_clock) %></p>
                     </div>
                     <div class="isflex">
                         <% if post.image?%>
                         <div class="modal_container">
                             <div id="grayDisplay"></div>
                             <div class="course-wrapper">
                                 <div class="course-item">
                                     <img src=<%= post.image.url %> class="course-item-img">
                                 </div>
                             </div>
                         </div>

                         <%# <img src=<%= post.image.url class="post_image"> %>
                         <% end %>

                         <a class="comment" href=""><%= post.content %></a>
                         <%# <a class="comment" href="/posts/<%= post.id %<%= post.content</a> %>
                     </div>
                 </div>
                 <% if post.released? %>
                 <%= link_to image_tag("/assets/outgoing_brown.png", class:"session_icon"), edit_post_path(post) %>
                 <% else %>
                 <%= link_to image_tag("/assets/outgoing_grey.png", class:"session_icon"), edit_post_path(post) %>

                 <% end %>
                 <%= link_to image_tag("/assets/pencil_brown.png", class:"session_icon"), edit_post_path(post) %>
                 <%= link_to image_tag("/assets/garbage_can_brown.png", class:"session_icon"), edit_post_path(post) %>

             </div>

         </div>
     </div>
     <% end %>



 </div>


 <% end %>


 <script>
     // コース画像モーダル表示イベント
     $(".course-item img").click(function () {
         // まず、クリックした画像の HTML(<img>タグ全体)を#frayDisplay内にコピー
         $("#grayDisplay").html($(this).prop("outerHTML"));
         //そして、fadeInで表示する。
         $("#grayDisplay").fadeIn(200);
         return false;
     });

     // コース画像モーダル非表示イベント
     // モーダル画像背景 または 拡大画像そのものをクリックで発火
     $("#grayDisplay").click(function () {
         // 非表示にする
         $("#grayDisplay").fadeOut(200);
         return false;
     });
 </script>
