<div id="user_list">
  <h2>ユーザー一覧</h2>
  <% @users.each do |user| %>
  <div class="twiit">
    <div class="twitter">
      <div class="user">
        <div class="user_flex">
          <img src=<%= user.image %> class="icon_image">
          <a href="/users/<%= user.id %>"><%= user.username %></a>
        </div>
        <div class="relation">
          <td>フォロー: <%= user.followings.count %></td>
          <td>フォロワー: <%= user.followers.count %></td>
        </div>
      </div>
    </div>
  </div>
  <% end %>
  <%= link_to "戻る", posts_global_path %>
</div>
