<%# 自分　じぶん %>
<div id="myself">
    <div class="diary">
        <img src="/assets/myself_brown.png" class="session_icon" alt="">
        <p class="head">今日の日記</p>
    </div>
    <% @myselfs.each do |post| %>
    <div class="twiit">
        <div class="twitter">
            <div class="user">
                <div class="datetime">
                    <%= link_to image_tag("/assets/triangle.png", class:"edit_icon"), edit_post_path(post) %>
                    <p><%= post.created_at.to_s(:datetime_jp_clock) %></p>
                </div>
                <% if post.image?%>

                <img src=<%= post.image.url %> class="post_image">
                <% end %>
                <a class="comment" href="/posts/<%= post.id %>"><%= post.content %></a>

            </div>

        </div>
    </div>
    <% end %>



</div>
