<%# 自分　じぶん %>
<div id="user_detail">
  <%# <h2>ユーザー詳細ページ</h2> %>
  <div class="twiit">
    <div class="twitter">
      <div class="user">
        <div class="user_tag">
          <img src=<%= @user.image %> class="icon_image">
          <strong><a class="user_name" href="/users/<%= @user.id %>"><%= @user.username %></a></strong>
        </div>
      </div>


    </div>
  </div>
  <% if current_user.following?(@user) %>
  <%= link_to "フォロー解除", user_relationships_path(@user.id), method: :delete %>
  <% else %>
  <%= link_to "フォローする", user_relationships_path(@user.id), method: :post %>
  <% end %>

  <%= link_to "フォロワー", user_followers_path(@user.id)%> <td><%= @user.followers.count %></td>
  <%= link_to "フォロー", user_followings_path(@user.id)%>
  <td> <%= @user.followings.count %></td>
  <a href="/users/<%= @user.id %>/calendar">カレンダーへ</a>

  <div class="chat">
    <% if @user.id == current_user.id %>
    <% else %>
    <% if @isRoom == true %>
    <p><a href="/rooms/<%= @roomId %>">チャットへ</a>
      <% else %>
      <%= form_for @room do |f| %>
      <%= fields_for @entry do |e| %>
      <%= e.hidden_field :user_id, :value=> @user.id %>
      <% end %>
      <%= f.submit "チャットを始める" %>
      <% end %>
      <% end %>
      <% end %>

  </div>
  <h2>投稿内容</h2>
  <div class="everyone">
    <div class="twiit">
      <% @user.posts.reverse_each do |post| %>

      <div class="twitter">
        <div class="user">
          <div class="user_detail">
            <img src=<%= post.user.image %> class="icon_image">
            <strong><a class="user_name" href="/users/<%= post.user.id %>"><%= post.user.username %></a></strong>
          </div>

          <% if post.user.id == current_user.id%>
          <%= link_to image_tag("/assets/edit_brown.png", class:"edit_icon"), edit_post_path(post) %>
          <% end %>
        </div>
        <p class="comment_bottom"> <a class="comment" href="/posts/<%= post.id %>"><%= post.content %></a></p>
        <p>
          <% if post.image?%>
          <div id="videos">
            <div class="half">
              <div class="wrapper"><img src=<%= post.image.url %> alt="">
              </div>
            </div>
          </div>
          <% end %>
        </p>
        <div class="good">
          <div class="date_good" id="likes_buttons_<%= post.id %>">
            <%= render partial: 'likes/like', locals: { post: post} %>
          </div>
          <div class="date_good">
            <a class="comment" href="/posts/<%= post.id %>"><img src="/assets/balloon.png" alt="" class="like"></a>
          </div>
        </div>
      </div>
      <% end %>
    </div>

    <h2>いいねしている投稿</h2>
    <div class="twiit">
      <% @user.liked_posts.each do |post| %>
      <div class="twitter">
        <div class="user">
          <div class="user_detail">
            <img src=<%= post.user.image %> class="icon_image">
            <strong><a class="user_name" href="/users/<%= post.user.id %>"><%= post.user.username %></a></strong>
          </div>

          <% if post.user.id == current_user.id%>
          <%= link_to image_tag("/assets/edit_brown.png", class:"edit_icon"), edit_post_path(post) %>
          <% end %>
        </div>
        <p class="comment_bottom"> <a class="comment" href="/posts/<%= post.id %>"><%= post.content %></a></p>
        <p>
          <% if post.image?%>
          <div id="videos">
            <div class="half">
              <div class="wrapper"><img src=<%= post.image.url %> alt="">
              </div>
            </div>
          </div>
          <% end %>
        </p>
        <div class="good">
          <div class="date_good" id="likes_buttons_<%= post.id %>">
            <%= render partial: 'likes/like', locals: { post: post} %>
          </div>
          <div class="date_good">
            <a class="comment" href="/posts/<%= post.id %>"><img src="/assets/balloon.png" alt="" class="like"></a>
          </div>
        </div>
      </div>
      <% end %>
    </div>
  </div>

  <%= link_to "戻る", users_path %>
  <%= link_to "ホームへ", posts_global_path %>
</div>
