<div id="timory_record">
  <h2>投稿編集</h2>
  <div class="post">
    <img src=<%= current_user.image %> class="icon_image">

    <%= form_for(@post,html: { class: "form_for_tweet" } , url: post_path(@post)) do |f| %>
    <%= f.text_area :content ,class:"text_field",:placeholder =>"#{@post.content}" %>
    <br>
    <hr>
    <div class="field">
      <% if @post.image? %>
      <div class="thumbnail">
        <%= image_tag @post.image.url %>
      </div>
      <% end %><br>
      <%= f.file_field :image %>
      <%= f.hidden_field :image_cache %>
      <!-- 既存レコード(DBに保存されている)かつ、画像が存在する場合 -->
      <% if @post.persisted? && @post.image? %>
      <label>
        <%= f.check_box :remove_image %>
        画像を削除
      </label>
      <% end %>
    </div>
    <select name="post[status]" id="post_status">
      <option value="nonreleased">非公開</option>
      <option selected="selected" value="released">公開</option>
    </select>
    <%= f.submit '編集' ,class:"btn"%>
    <td><%= link_to "削除", post_path(@post), method: :delete %></td>

  </div>
  <% end %>
  <%= link_to "ホームへ戻る", posts_global_path %>
</div>
