<div id="global">
  <% if user_signed_in? %>
  <%# ã¿ã‚“ãª(å…¬é–‹) %>
  <%# <h2>æŠ•ç¨¿ä¸€è¦§</h2> %>
  <div class="tab">
    <a class="div" href="/posts/follow"><img src="/assets/everyone_white.png" class="tab_icon" alt=""></a>
    <a class="div_white div" href="/posts/global"><img src="/assets/earth_brown.png" class="tab_icon" alt=""></a>
  </div>
  <div class="everyone">
    <div class="search">
      <div class="search_window_top">
      </div>
      <div class="search_window">
        <div class="search-form">
          <%= form_with url: searchfollow_path, method: :get, local: true do |f| %>
          <%= f.submit 'ðŸ”', class: "btn" %>

          <%= f.text_field :keyword, value: @keyword %>

          <% end %>
        </div>
      </div>
      <div class="search_result">
        <% @followings.each do |follow| %>
        <div class="result">
          <img src=<%= follow.image %> class="result_user">
          <a href="/users/<%= follow.id %>"><%= follow.username %></a>
        </div>
        <% end %>
      </div>


    </div>
    <div class="twiit">
      <% @nonposts.reverse_each do |post| %>
      <div class="twitter">
        <div class="user">
          <div class="user_detail">
            <img src=<%= post.user.image %> class="icon_image"><strong><a class="user_name"
                href="/users/<%= post.user.id %>"><%= post.user.username %></a></strong>

          </div>
        </div>
        <div class="edit">
          <div class="time">

            <%= time_ago_in_words(post.created_at) %>

          </div>
          <% if post.user.id == current_user.id%>
          <%= link_to image_tag("/assets/edit_brown.png", class:"edit_icon"), edit_post_path(post) %>
          <% else %>
          <div class="edit_icon"></div>
          <% end %>
        </div>
        <div class="post">
          <% if post.content?%>
          <p class="comment_bottom"> <a class="comment" href="/posts/<%= post.id %>"><%= post.content %></a>
          </p>
          <% end %>
          <% if post.image?%>
          <div id="videos">
            <div class="half">
              <div class="wrapper"><img src=<%= post.image.url %> alt="">
              </div>
            </div>
          </div>
          <% end %>
        </div>
        <div class="good">
          <div class="date_good" id="likes_buttons_<%= post.id %>">
            <%= render partial: 'likes/like', locals: { post: post} %>
          </div>
          <div class="date_good">
            <a class="comment" href="/posts/<%= post.id %>"><img src="/assets/balloon.png" alt=""
                class="like"></a><%= post.comments.count%>
          </div>
        </div>
      </div>
      <% end %>
    </div>
  </div>

  <div class="  search_side">
  </div>
  <div class=" tab_end">
  </div>
  <div class=" tab_side">
  </div>
  <% else %>
  <% end %>
</div>
