<div id="global">
    <% if user_signed_in? %>
    <%# みんな(公開) %>
    <%# <h2>投稿一覧</h2> %>
    <div class="tab">
        <a class="div_white div" href="/posts/follow"><img src="/assets/everyone_brown.png" class="tab_icon" alt=""></a>
        <a class="div" href="/posts/global"><img src="/assets/earth_white.png" class="tab_icon" alt=""></a>
    </div>
    <div class="everyone">
        <div class="search">
            <div class="search_window_top">

            </div>
            <div class="search_window">
                <div class="search-form">
                    <%= form_with url: search_path, method: :get, local: true do |f| %>
                    <%= f.text_field :keyword, value: @keyword %>
                    <%= f.submit 'hogebutton', class: "btn" %>
                    <% end %>
                </div>

            </div>
            <div class="search_result">
                <% @users.each do |user| %>
                <div class="result">
                    <img src=<%= user.image %> class="result_user">
                    <a href="/users/<%= user.id %>"><%= user.username %></a>
                </div>
                <% end %>
            </div>
        </div>
        <div class="twiit">
            <% @posts.reverse_each do |post| %>
            <div class="twitter">
                <div class="user">
                    <div class="user_detail">
                        <img src=<%= post.user.image %> class="icon_image"><strong><a class="user_name"
                                href="/users/<%= post.user.id %>"><%= post.user.username %></a></strong>
                        <div class="date_good">
                            👍<%= post.liked_users.count %>
                            <%# <%= post.updated_at.to_s(:datetime_jp) %>　
                        </div>
                    </div>
                </div>
                <div class="edit">
                    <div class="date_good">
                        <%minute=(Time.zone.now - post.created_at).floor / 60     %>
                        <%hours=(Time.zone.now - post.created_at).floor / 3600     %>
                        <%days=(Time.zone.now - post.created_at).floor / 14400     %>
                        <% if days != 0%>
                        <%=days%>日
                        <% else %>
                        <% if hours != 0%>
                        <%=hours%>時間
                        <% else %>
                        <% if minute != 0%>
                        <%= minute%>分
                        <% else %>
                        <%=(Time.zone.now - post.created_at).floor  %>秒
                        <% end %>
                        <% end %>
                        <% end %>
                    </div>
                    <% if post.user.id == current_user.id%>
                    　<%= link_to image_tag("/assets/edit_brown.png", class:"edit_icon"), edit_post_path(post) %>
                    <% end %>
                </div>
                <div class="post">
                    <% if post.content?%>
                    <p class="comment_bottom"> <a class="comment" href="/posts/<%= post.id %>"><%= post.content %></a>
                    </p>
                    <% end %>
                    <% if post.image?%>

                    <div id="videos">
                        <div class="half">

                            <div class="wrapper"><img src=<%= post.image.url %> alt="">
                            </div>
                        </div>
                    </div>
                    <% end %>
                </div>


            </div>
            <% end %>
        </div>
    </div>

    <div class="  search_side">
    </div>
    <div class=" tab_end">
    </div>
    <div class=" tab_side">
    </div>
    <% else %>
    <% end %>
</div>
