

<h1>twitter</h1>
<% if user_signed_in? %>

  <h2>投稿する</h2>
  <%= form_for @post do |f| %>
    <%= f.text_field :content %>
    <%= f.submit %>
  <% end %>
  <hr>
  <h2>投稿一覧</h2>
  <% @posts.each do |post| %>
  <div class="twiit">
    <div class="twitter">
         <p><img src=<%= post.user.image %> class = "icon_image"><a href="/users/<%= post.user.id %>"><%= post.user.username %></a></p>
        <p class="comment_bottom"> <a class="comment" href="/posts/<%= post.id %>"><%= post.content %></a></p>
        <p class="favorite">いいね数(<%= post.liked_users.count %>)</p>
    </div>
  </div>
  <% end %>

<% else %>
 
<% end %>