<div id="publish">
  <% if user_signed_in? %>
  <%# みんな(公開) %>
  <%# <h2>投稿一覧</h2> %>
  <div class="record">
    <div class="post">
      <img src=<%= current_user.image %> class="icon_image">
      <%= form_for @post  ,html: { class: "form_for_tweet" }  do |f|%>
      <%= f.text_field :content ,class:"text_field",placeholder:"いまどうしてる？"%>

      <div class="field">
        <% if @post.image? %>
        <div class="thumbnail">
          <%= image_tag @post.image.url %>
        </div>
        <% end %>
        <br>
        <%= f.label :image %>
        <br>
        <%= f.file_field :image %>
        <%= f.hidden_field :image_cache %>
      </div>
      <div class="field">
        <!-- 既存レコード(DBに保存されている)かつ、画像が存在する場合 -->
        <% if @post.persisted? && @post.image? %>
        <label>
          <%= f.check_box :remove_image %>
          画像を削除
        </label>
        <% end %>
      </div>
      <%= f.select :status, Post.statuses.keys.to_a, {} %>
      <%= f.submit 'ツイートする' ,class:"btn"%>
      <% end %>
    </div>
  </div>
  <div class="everyone">
    <div class="twiit">
      <% @posts.reverse_each do |post| %>
      <div class="twitter">
        <div class="user">
          <div class="user_detail">
            <img src=<%= post.user.image %> class="icon_image"><strong><a class="user_name"
                href="/users/<%= post.user.id %>"><%= post.user.username %></a></strong>
          </div>
        </div>
        <div class="edit">
          <div class="time">
            <%= time_ago_in_words(post.created_at) %>
          </div>
          <% if post.user.id == current_user.id%>
          <%= link_to image_tag("/assets/edit_brown.png", class:"edit_icon"), edit_post_path(post) %>
          <% else %>
          <div class="edit_icon"></div>
          <% end %>
        </div>
        <div class="post">
          <% if post.content?%>
          <p class="comment_bottom"> <a class="comment" href="/posts/<%= post.id %>"><%= post.content %></a>
          </p>
          <% end %>
          <% if post.image?%>

          <div id="videos">
            <div class="half">
              <div class="wrapper"><img src=<%= post.image.url %> alt="">
              </div>
            </div>
          </div>
          <% end %>
          <div class="good">
            <div class="date_good" id="likes_buttons_<%= post.id %>">
              <%= render partial: 'likes/like', locals: { post: post} %>
            </div>
            <div class="date_good">
              <a class="comment" href="/posts/<%= post.id %>"><img src="/assets/balloon.png" alt="" class="like"></a>
            </div>
          </div>
        </div>
      </div>
      <% end %>
    </div>
  </div>


  <% else %>
  <% end %>
</div>
