<div class=" farmily_other ">
    <div class="container farmily">
        <img src="/assets/other_brown.png" class="session_icon" alt="">
        <div id="header-other">
            <div class="menu-content">
                <ul>
                    <% if user_signed_in? %>
                    <%# <%= link_to current_user.username, pages_show_path %>
                    <%# <%= link_to 'eechトップページへ',pages_eech_path%>
                    <li>
                        <%= link_to "公開日記(ホーム)へ戻る", posts_path %>
                    </li>
                    <li>
                        <%= link_to 'フォローした人の日記',posts_follow_path%>
                    </li>
                    <li>
                        <%= link_to 'timoryトップへ',pages_farmily_path%>
                    </li>
                    <li>
                        <%= link_to 'timory使い方',pages_howtofarmily_path%>
                    </li>
                    <li>
                        <%= link_to "みんなとの部屋へ", rooms_path %>
                    </li>
                    <li>
                        <a href="https://iken-pro.github.io/iken_webpage/">あいけんWebページ</a>
                    </li>
                    <li>
                        <%= link_to "マイページへ", user_path(current_user.id) %>
                    </li>
                    <li>
                        <%= link_to "ユーザー一覧へ", users_path %>
                    </li>
                    <li>
                        <%= link_to 'プロフィール変更', edit_user_registration_path %>
                    </li>
                    <% else %>
                    <% end %>
                </ul>
            </div>
        </div>
    </div>
</div>
