<div id="random">
    <div class="session_header">
        <img src="/assets/earth_brown.png" class="session_icon" alt="">
        <h2>匿名ランダム交換日記</h2>
    </div>
    <% if user_signed_in? %>
    <% @users= @users.sort_by {rand} %>
    <%randomUser = []%>
    <% @users.reverse_each do |user| %>

    <% user.posts.each do |post| %>
    <% if post.content? %>
    <% randomUser.push(user)%>
    <%break%>
    <% end %>
    <% end %>

    <% if randomUser.length == 4 %>
    <%break%>
    <% end %>

    <% end %>

    <div class="random_grid">

        <% randomUser.each_with_index do |user,index| %>
        <div class="twiit">

            <p class="random_count">
                <%= index+1%>
            </p>
            <div class="twitter">
                <% user.posts.reverse_each do |post| %>

                <div class="post">
                    <% if post.content?%>

                    <p class="comment_bottom"> <a class="comment"
                            href="/randomshow/<%= post.id %>/<%= index+1%>"><%= post.content %></a>
                    </p>
                    <% end %>
                    <% if post.image?%>
                    <div id="videos">
                        <div class="half">
                            <div class="wrapper"><img src=<%= post.image.url %> alt="">
                            </div>
                        </div>
                    </div>
                    <% end %>
                </div>
                <% end %>

            </div>

        </div>
        <% end %>

    </div>

</div>


<% else %>
<% end %>
</div>
