<div id="timory_record">
    <% if user_signed_in? %>
    <img src="/assets/pencil_brown.png" class="session_icon" alt="">
    <div class="post">
        <%= form_for @post  ,html: { class: "form_for_tweet" }  do |f|%>
        <%= f.text_field :content ,class:"text_field",placeholder:"記録する"%>
        <br>
        <hr>
        <div class="field">
            <label for="input_img" class="input_image">
                画像を選択
                <%= f.file_field :image ,id:"input_img",onchange:"previewImage(this);",accept:'image/*'%>
                <%= f.hidden_field :image_cache %>
            </label>

            <select name="post[status]" id="post_status" class="select">
                <option value="nonreleased">非公開</option>
                <option selected="selected" value="released">公開</option>
            </select>
            <br>
            <canvas id="preview" style="max-width:180px; margin-top:10px"></canvas>

            <br>
            <%# <%= f.select :status, Post.statuses.keys.to_a, {} %>
            <%= f.submit '記録する' ,class:"btn"%>

        </div>

        <% end %>
    </div>
    <% else %>
    <div id=twitter_top>
        <div class="container">
            <div class="my-container my-container-session">
                <div class="left_flex">
                    <img src="/assets/twitter_top.PNG" alt="">
                </div>
                <div class="right_flex">
                    <br>
                    <br>
                    <img src="/assets/clova_logo.png" alt="">
                    <h1>全ての話題が，ここに．</h1>
                    <h2>twitterを始めよう</h2>
                    <div class="button">
                        <%= link_to 'アカウント作成', new_user_registration_path %>
                    </div>
                    <div class="button login">
                        <%= link_to 'ログイン', new_user_session_path %>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <% end %>
</div>
<script>
    function previewImage(obj) {
        var fileReader = new FileReader();
        fileReader.onload = (function () {
            var canvas = document.getElementById('preview');
            var ctx = canvas.getContext('2d');
            var image = new Image();
            image.src = fileReader.result;
            image.onload = (function () {
                canvas.width = image.width;
                canvas.height = image.height;
                ctx.drawImage(image, 0, 0);
            });
        });
        fileReader.readAsDataURL(obj.files[0]);
    }
</script>
