<div id="timory_record">
    <% if user_signed_in? %>
    <div class="session_header">
        <img src="/assets/pencil_brown.png" class="session_icon" alt="">
        <h2>記録</h2>

    </div>
    <div class="post">
        <%= form_for @post  ,html: { class: "form_for_tweet" }  do |f|%>
        <%= f.text_field :content ,class:"text_field",placeholder:"記録する"%>

        <%= f.date_field :start_time, value: Time.now.strftime("%Y-%m-%d")%>
        <br>
        <div class="field">
            <label for="input_img" class="input_image">
                <span>写真</span>
                <%= f.file_field :image ,id:"input_img",onchange:"previewImage(this);",accept:'image/*'%>
                <%= f.hidden_field :image_cache %>
            </label>

            <div class="field2">
                <div id="app">

                    <div>
                        <div @click="radioClick">
                            <div v-if="radio == 'released'">
                                <img src="/assets/outgoing_brown.png" alt="" class="clova">
                            </div>
                            <div v-else> <img src="/assets/outgoing_grey.png" alt="" class="clova"></div>
                        </div>

                        <div style="display:none">
                            <br><input type="radio" name="post[status]" id="released" v-model="radio" value="released">
                            <label for="released">公開</label>
                            <input type="radio" name="post[status]" id="nonreleased" v-model="radio"
                                value="nonreleased">
                            <label for="nonreleased">非公開</label>
                            <p>プロパティの状態: {{radio}}</p>
                        </div>


                    </div>
                </div>
                <%= f.submit '記録する' ,class:"btn btn-record"%>


            </div>
        </div>
        <canvas id="preview" style="max-width:180px; margin-top:10px"></canvas>


        <% end %>
    </div>
    <% else %>
    <div id=twitter_top>
        <div class="container">
            <div class="my-container my-container-session">
                <div class="left_flex">
                    <img src="/assets/twitter_top.PNG" alt="">
                </div>
                <div class="right_flex">
                    <br>
                    <br>
                    <img src="/assets/clova_logo.png" alt="">
                    <h1>全ての話題が，ここに．</h1>
                    <h2>twitterを始めよう</h2>
                    <div class="button">
                        <%= link_to 'アカウント作成', new_user_registration_path %>
                    </div>
                    <div class="button login">
                        <%= link_to 'ログイン', new_user_session_path %>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <% end %>
</div>
<script>
    var app = new Vue({
        el: '#app',
        data: {
            //ラジオボタン
            radio: 'released'
        },
        methods: {
            radioClick: function (event) {
                // メソッド内の `this` は、 Vue インスタンスを参照します
                if (this.radio == 'nonreleased') {
                    this.radio = 'released'

                } else {
                    this.radio = 'nonreleased';

                }
                // `event` は、ネイティブ DOM イベントです

            }
        }
    })


    function previewImage(obj) {
        var fileReader = new FileReader();
        fileReader.onload = (function () {
            var canvas = document.getElementById('preview');
            var ctx = canvas.getContext('2d');
            var image = new Image();
            image.src = fileReader.result;
            image.onload = (function () {
                canvas.width = image.width;
                canvas.height = image.height;
                ctx.drawImage(image, 0, 0);
            });
        });
        fileReader.readAsDataURL(obj.files[0]);
    }
</script>
