<div id="global">
  <% if user_signed_in? %>
  <div class="tab">
    <a class="div_white div" href="/posts/follow"><img src="/assets/everyone_brown.png" class="tab_icon" alt=""></a>
    <a class="div" href="/posts/global"><img src="/assets/earth_white.png" class="tab_icon" alt=""></a>
  </div>
  <div class="everyone">
    <div class="search">
      <div class="search_window_top">
      </div>
      <div class="search_window">
        <div class="search-form">
          <%= form_with url: search_path, method: :get, local: true do |f| %>
          <%= f.submit '🔍', class: "btn" %>

          <%= f.text_field :keyword, value: @keyword %>

          <% end %>
        </div>
      </div>
      <div class="search_result">
        <% @users.each do |user| %>
        <div class="result">
          <img src=<%= user.image %> class="result_user">
          <a href="/users/<%= user.id %>"><%= user.username %></a>
        </div>
        <% end %>
      </div>
    </div>
    <div class="twiit">
      <div class="twitter">
        <div class="user">
          <div class="user_detail">
            <img src=<%= @post.user.image %> class="icon_image"><strong><a class="user_name"
                href="/users/<%= @post.user.id %>"><%= @post.user.username %></a></strong>
          </div>
        </div>
        <div class="edit">
          <div class="edit_icon">
            <%= time_ago_in_words(@post.created_at) %>

          </div>
          <% if @post.user.id == current_user.id%>
          <%= link_to image_tag("/assets/edit_brown.png", class:"edit_icon"), edit_post_path(@post) %>
          <% else %>
          <div class="edit_icon"></div>
          <% end %>
        </div>
        <div class="post">
          <% if @post.content?%>
          <p class="comment_bottom"> <a class="comment" href="/posts/<%= @post.id %>"><%= @post.content %></a>
          </p>
          <% end %>
          <% if @post.image?%>
          <div id="videos">
            <div class="half">
              <div class="wrapper"><img src=<%= @post.image.url %> alt="">
              </div>
            </div>
          </div>
          <% end %>
          <div class="good">

            <% post = @post %>
            <div class="date_good" id="likes_buttons_<%= post.id %>">
              <%= render partial: 'likes/like', locals: { post: post} %>
            </div>
            <%# <%= @post.updated_at.to_s(:datetime_jp) %>　

            <div class="date_good">
              <a class="comment" href="/posts/<%= @post.id %>"><img src="/assets/balloon.png" alt="" class="like"></a>
              <%= @post.comments.count%></div>
          </div>
        </div>
        <%# <div class="new-comment">
          <%= render partial:'comments/form', locals: {post: post, comments: @comments }%>
        <%# </div> %>

        <div id="comments_area">
          <%# <%= render partial:'comments/post_comments', locals: {post: post, comments: @comments} %>

          <div class="comment__">
            <hr>
            <h2>コメント一覧</h2>

            <% if  @isCommentLimit  %>
            <h3>コメント可能上限です 00:00に解除されます</h3>
            <% else %>
            <div class="post random_commemnt_post">

              <%= form_for [@post, @comment],html: { class: "form_for_tweet random_comment_form" } do |f| %>
              <%= f.text_field :content,class:"text_field",placeholder:"コメントする" %>
              <%= f.hidden_field :post_id, value: @post.id %>
              <%# <%= f.hidden_field :today_comments_count, value: 100 %>

              <%= f.fields_for :users do |user| %>

              <%= user.hidden_field :today_comments_count, value: 4 %>
              <%= user.hidden_field :id, value: @current_user.id %>

              <%= f.submit 'コメントする', class: "btn btn-primary" %>
              <% end %>
              <% end %>


            </div>

            <% end %>


            <%  @comments.each do |comment| %>
            <div>
              <img src=<%= comment.user.image %> class="icon_image"> <a
                href="/users/<%= @post.user.id %>"><%= comment.user.username %></a>
              <%= comment.content %>

              <% if @current_user == comment.user %>
              <div class="comment-delete">
                <%= link_to "削除", post_comment_path(comment.post.id, comment.id), method: :delete,remote: true,  data: {confirm: "本当に削除しますか？"} %>
              </div>
              <% end %>

              <hr>
            </div>
            <% end %>


          </div>




        </div>

      </div>
    </div>
  </div>
  <div class="  search_side">
  </div>
  <div class=" tab_end">
  </div>
  <div class=" tab_side">
  </div>

  <% else %>
  <% end %>
</div>
